.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.2); /* Preto com 20% de opacidade */
}

.card h1 {
}

.formulario {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.botoes {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    width: 100%;
}

.botoes button {
    color: #ffe;
    height: 2.5rem;
    width: 100%;
}

.botoes .cancel {
    background-color: red;
}

.botoes .save {
    background-color: var(--main-color);
}