<mat-card appearance="outlined" class="card-container">
    <mat-card-content class="card-test">
        <h1>Desafio - Cadastro</h1>
        <form class="formulario">
            <mat-form-field class="example-full-width">
                <mat-label>Nome</mat-label>
                <input matInput placeholder="Seu nome completo">
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <mat-label>CPF</mat-label>
                <input matInput mask="000-000-000.00" placeholder="000-000-000.00">
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <mat-label>Data de nascimento</mat-label>
                <input matInput type="number" mask="00/00/0000" placeholder="dd/mm/yyyy">
            </mat-form-field>

            <app-email></app-email>
            <app-cep></app-cep>

        </form>
    </mat-card-content>
</mat-card>
  